<div class="page-wrapper">
  <div class="pagetitle">
    記事編集ページ
  </div>
  <div class="new-article box">
    <%= form_with model: @article, url: article_path(@article.id), method: :patch, local: true do |f| %>
      <%= render 'shared/error_messages', model: f.object %>
      <div class="">
        <%= f.label :title, "タイトル"%><br>
        <%= f.text_field :title, class:"article-input" %>
      </div>
      <div class="">
        <%= f.label :text, "本文"%><br>
        <div class="examples">
          (マークダウン記法で記述することができます。 ※マークダウン記法の詳細：)
        </div>
        <%= f.text_area :text, class:"article-input main-input" %>
      </div>
      <%= f.submit '保存', class:'btn save-article' %>
    <% end %>
    <%= link_to "記事を削除する", article_path(@article), method: :delete, class:"btn" %>
  </div>
</div>