<%= render "shared/header" %>

<div class="page-wrapper">
  <div class="pagetitle">
    記事作成ページ
  </div>
  <div class="new-article box">
    <%= form_with model: @article, url: articles_path, local: true do |f| %>
      <div class="article-title">
        <%= f.label :title, "title"%><br>
        <%= f.text_field :title %>
      </div>
      <div class="article-title">
        <%= f.label :text, "本文"%><br>
        <%= f.text_area :text %>
      </div>
      <%= f.submit '保存', class:'btn btn-primary' %>
    <% end %>
  </div>
</div>