<div class="page-wrapper">
  <div class="pagetitle">
    <%= @article.title %>
  </div>
  <div class="box article-content">
    <div class="boxtop">
      <div>
        投稿者：<%= link_to User.find(@article.user_id).nickname, user_path(@article.user_id), class:"poster" %>
      </div>
      <% if user_signed_in? && @article.user_id == current_user.id %>
        <%= link_to "編集/削除", edit_article_path(@article.id), class:"edit-btn" %>
      <% end%>
    </div>
    <div class="article-markdown">
      <%= markdown_to_html(@article.text) %>
    </div>
    <div id="like-btn<%= @article.id %>">
      <% if user_signed_in? && @article.liked_by?(current_user)%>
        <%=link_to "お気に入り済", article_like_path(@article.id),  method: :delete, class: "tweet_likes" %>
      <% else %>
        <%=link_to "お気に入り", article_likes_path(@article.id), method: :post, class: "tweet_likes" %>
      <% end %>
    </div>
  </div>

  <%# コメント %>
  <div class="box comments-box">
    <div class="boxtop">
      コメント
    </div>
    <div class="comments-area">
      <% if user_signed_in? %>
        <%= form_with model: [@article, @comment], url: article_comments_path(@article), class:"comment-form", local: true do |f| %>
          <%= f.text_area :text, class:"box form-input", placeholder:'コメントを入力してください' %>
          <%= f.submit '送信', class:'btn form-submit' %>
        <% end %>
      <% end %>
      <div class="comments-index">
        <% @comments.each do |comment| %>
          <div class="comment">
            <div class="comment-upper">
              <%= link_to User.find(comment.user_id).nickname, user_path(comment.user_id), class:"poster commenter" %>

              <% if user_signed_in? && comment.user_id == current_user.id %>
                <%= link_to "削除する", article_comment_path(@article, comment.id), method: :delete, class:"edit-btn", data: { confirm: "コメントを削除しますか？" } %>
              <% end %>
            </div>
            <%= comment.text %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>