<div class="page-wrapper">
  <div class="pagetitle">
    <%= @user.nickname %>さんのユーザーページ
  </div>
  <div class="box users user-info">
    <div class="boxtop">
      <div>ユーザー情報</div>
      <% if user_signed_in? && @user.id == current_user.id %>
        <%= link_to "編集する", edit_user_path, class:"edit-btn" %>
      <% end%>
    </div>
    <div class="user-contents">
      <div class="user-content">
        ユーザー名：<%= @user.nickname %>
      </div>
      <div class="user-content">
        <% if @user.twitter_id != "" %>
        Twitter ID：<%=link_to @user.twitter_id, "https://twitter.com/#{@user.twitter_id}", class:"nickname", target: :_blank, rel: "noopener noreferrer" %>
        <% else %>
        Twitter ID：未設定
        <% end %>
      </div>
    </div>
  </div>
  <div class="box users introduce">
    <div class="boxtop">
      ひとこと
    </div>
    <div class="user-contents">
      <%= @user.introduce %>
    </div>
  </div>
  <div class="box users posted">
    <div class="boxtop">
      投稿済み記事
    </div>
    <div class="user-articles">
      <% @articles.limit(10).each do |article| %>
        <li><%= link_to article.title, article_path(article.id), class:"user-article" %></li>
      <% end %>
      <%= paginate @articles, param_name: 'articles_page' %>
    </div>
  </div>
  <% if user_signed_in? && @user.id == current_user.id %>
  <div class="box users posted">
    <div class="boxtop">
      投稿済みフォーム
    </div>
    <div class="user-contents">
      <div class="user-forms">
        <div>＜活動開始フォーム＞<%= paginate @startforms, param_name: 'startforms_page' %></div>
        <% @startforms.limit(10).each do |start| %>
          <li><%= link_to "活動開始フォーム：#{start.created_at.strftime('%Y年%m月%d日')}", startform_path(start), class:"user-form" %></li>
        <% end %>
      </div>
      <div class="user-forms">
        <div>＜振り返りフォーム＞<%= paginate @feedbackforms, param_name: 'feedbackforms_page' %></div>
        <% @feedbackforms.limit(10).each do |feedback| %>
          <li><%= link_to "振り返りフォーム：#{feedback.created_at.strftime('%Y年%m月%d日')}", feedbackform_path(feedback), class:"user-form" %></li>
        <% end %>
        
      </div>
    </div>
  </div>
  <% end %>
</div>
