<header class="">
  <div class="head-top">
    <%= link_to image_tag("UpSmash-logo.png", class:"logo"), root_path %>
    <div class="sign-in-out">
      <% if user_signed_in? %>
        <%= link_to current_user.nickname, "#",class:"btn" %>
        <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class:"btn" %>
      <% else %>
        <%= link_to 'ログイン', new_user_session_path, class:"btn" %>
        <%= link_to '新規登録', new_user_registration_path, class:"btn" %>
      <% end %>
    </div>
  </div>
  <ul class="nav ">
    <li><%= link_to "フリー対戦", rooms_path, class:"nav-link px-2 link-secondary" %></li>
    <li><a href="#" class="nav-link px-2 link-dark">対戦振り返り</a></li>
    <li><a href="#" class="nav-link px-2 link-dark">記事</a></li>
    <li><a href="#" class="nav-link px-2 link-dark">マイページ</a></li>
    <li><a href="#" class="nav-link px-2 link-dark">その他</a></li>
  </ul>
</header>
  