<%= image_tag("小戦場.jpg", class:"background") %>
<header>
  <div class="head-top">
    <%= link_to image_tag("UpSmash-logo.png", class:"logo"), root_path %>
    <div class="sign-in-out">
      <% if user_signed_in? %>
        <%= link_to current_user.nickname, user_path(current_user.id), class:"btn" %>
        <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class:"btn" %>
      <% else %>
        <%= link_to 'ログイン', new_user_session_path, class:"btn" %>
        <%= link_to '新規登録', new_user_registration_path, class:"btn" %>
      <% end %>
    </div>
  </div>
  <ul class="box nav">
    <li><%= link_to "フリー対戦", rooms_path, class:"nav-link" %></li>
    <li><%= link_to "振り返り", startforms_path, class:"nav-link", target: :_blank, rel: "noopener noreferrer" %></li>
    <li><%= link_to "記事", articles_path, class:"nav-link" %></li>
    <% if user_signed_in?%>
      <li><%= link_to "マイページ", user_path(current_user.id), class:"nav-link" %></li>
    <% end %>
    <li><%= link_to "その他", other_path, class:"nav-link" %></li>
  </ul>
</header>
