<%= render "shared/header" %>
<div class="page-wrapper">
  <div class="pagetitle">
  フリー対戦
  </div>
  <div class="rooms_wrapper">
    <% if user_signed_in? && user_already_joined? %>
      <%= link_to "対戦ルームを作成する", new_room_path, class:"btn room-create" %>
    <% elsif user_signed_in? && !user_already_joined? %>
      あなたはルームに参加中です
    <% else %>
      フリー対戦機能を使用するには、ログインが必要です。
    <% end %>
    
    <%# ルーム一覧 %>
    <% @rooms.each do |room| %>
      <div class="box room_box">
        <%= link_to(room_path(room.id),class:"room_link") do %>
          <%= room.room_name %><br>
          <%= User.find(room.host_user_id).nickname %>
        <% end %>
        <% if user_signed_in? && user_already_joined?%>
          <div class="enter">
            <%= form_with model: @room, url: join_room_path(room.id), local: true do |r| %>
              <input name="user_id[user_ids][]" type="hidden" value=<%= current_user.id %>>
              <%= r.submit "参加する", class:"btn room_submit" %>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
